@import '../../../../partials/_variables';

.bar {
    width: 80%;
    max-width: 80rem;
    list-style-type: none;
    padding-left: 0;
    display: flex;
    justify-content: space-around;
}

li {
    cursor: pointer;
    width: 4rem;
    height: 4rem;
    line-height: 4rem;
    background-color: $pink;
    text-align: center;
}