<div class="login shadow">

  <form [formGroup]="loginForm" (ngSubmit)="submit(loginForm.value)" class="center">
    <h3 class="capital center heading">Login</h3>
    <div class="error" *ngIf="errorMsg">
      Unable to login: {{errorMsg}}
    </div>

    <div class="error border-box left" *ngIf="loginForm.get('username').hasError('required') && loginForm.get('username').touched">
      <span>Username is required.</span>
    </div>
    <input [formControl]="loginForm.controls.username" type="text" placeholder="Username" class="left" name="username" />


    <div class="error border-box left" *ngIf="loginForm.get('password').hasError('required') && loginForm.get('password').touched">
      <span>Password is required.</span>
    </div>
    <input [formControl]="loginForm.controls.password" type="password" name="password" placeholder="Password" class="left" />


    <button [disabled]="!loginForm.valid" type="submit" class="block-center capital shadow">Login</button>

    <p>Don't an account? Sign up <a routerLink='/home/signup'>here</a>.</p>
  </form>
</div>
