@import './partials/_variables';

html {
  font-size: 62.5%;
}

body {
  background-color: $grey-700;
  color: $grey-100;
  font-family: 'Rubik', sans-serif;
  margin: 0;
}

.capital { text-transform: uppercase; }

.center { text-align: center; };
.right { text-align: right; };
.left { text-align: left; };

.block-center {
  margin-left: auto;
  margin-right: auto;
}

.hide {
  opacity: 0;
}

input,
textarea {
  background-color: $grey-50;
  border: 0;
  color: $grey-700;
  padding: .4rem .4rem .4rem .8rem;
}

a {
  color: $pink;

  &:visited {
    color: $dark-pink;
    text-decoration: underline;
  }
}

.heading {
  font-weight: $light;
  letter-spacing: 2px;
}

.shadow {
  box-shadow: $shadow
}

[disabled] {
  opacity: .54;
}

.border-box {
  box-sizing: border-box;
}
