@import '../../partials/_variables';

.profile-img {
  height: 5em;
  width: 5em;
}

.profile {
  font-size: 2rem;
  padding: .8rem;
}

.info {
  background-color: $grey-900;
  max-width: 60rem;
  margin: 0 auto 1.6rem auto;
  padding: .8rem;

  span {
    color: $pink;
  }
}

.rating {
  background-color: $grey-900;
  border: .3rem solid $pink;
  margin: 1.6rem auto;
  max-width: 60rem;
  padding: .8rem;
}
