@font-face {
  font-family: 'Rubik';
  font-weight: 300;
  font-style: normal;
  src: url('../assets/font/Rubik-300/Rubik-300.eot');
  src: url('../assets/font/Rubik-300/Rubik-300.eot?#iefix') format('embedded-opentype'),
       local('Rubik Light'),
       local('Rubik-300'),
       url('../assets/font/Rubik-300/Rubik-300.woff2') format('woff2'),
       url('../assets/font/Rubik-300/Rubik-300.woff') format('woff'),
       url('../assets/font/Rubik-300/Rubik-300.ttf') format('truetype'),
       url('../assets/font/Rubik-300/Rubik-300.svg#Rubik') format('svg');
}


@font-face {
  font-family: 'Rubik';
  font-weight: 400;
  font-style: normal;
  src: url('../assets/font/Rubik-regular/Rubik-regular.eot');
  src: url('../assets/font/Rubik-regular/Rubik-regular.eot?#iefix') format('embedded-opentype'),
       local('Rubik'),
       local('Rubik-regular'),
       url('../assets/font/Rubik-regular/Rubik-regular.woff2') format('woff2'),
       url('../assets/font/Rubik-regular/Rubik-regular.woff') format('woff'),
       url('../assets/font/Rubik-regular/Rubik-regular.ttf') format('truetype'),
       url('../assets/font/Rubik-regular/Rubik-regular.svg#Rubik') format('svg');
}

@font-face {
  font-family: 'Rubik';
  font-weight: 700;
  font-style: normal;
  src: url('../assets/font/Rubik-700/Rubik-700.eot');
  src: url('../assets/font/Rubik-700/Rubik-700.eot?#iefix') format('embedded-opentype'),
       local('Rubik Bold'),
       local('Rubik-700'),
       url('../assets/font/Rubik-700/Rubik-700.woff2') format('woff2'),
       url('../assets/font/Rubik-700/Rubik-700.woff') format('woff'),
       url('../assets/font/Rubik-700/Rubik-700.ttf') format('truetype'),
       url('../assets/font/Rubik-700/Rubik-700.svg#Rubik') format('svg');
}

