// Color Palette
$grey-50: #eceff1;
$grey-100: #cfd8dc;
$grey-300: #90a4ae;
$grey-800: #37474f;
$grey-900: #263238;
$pink-50: #fce4ec;
$pink: #f50057;
$dark-pink: #c51162;
$green: #00e676;

// Font Weights
$light: 300;
$regular: 400;
$bold: 700;

$shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
$swift: cubic-bezier(0.4, 0, 0.2, 1);
