$grey-700: #455a64;
$grey-800: #37474f;
$grey-900: #263238;
$grey-300: #90a4ae;
$grey-100: #cfd8dc;
$grey-50: #eceff1;
$pink: #f50057; 
$light-pink: #ff4081;
$dark-pink: #c51162;

$bold: 700;
$regular: 400;
$light: 300;

$swift: cubic-bezier(0.4, 0, 0.2, 1);